<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>

    <link rel="stylesheet" href="/style.css">
</head>
<style>
    #clear{
        background-color: red;
    }
</style>
<body>
    <header>
        <a href="/"><h1>Cinema</h1></a> 
        <div class="container">
            <form id="form" action="/search" method="GET">
                <input type="text" placeholder="Search" id="search" class="search" name="query">
            </form>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
            <button id="logout-button" class="logout">Logout</button>

            <!-- Language Selection -->
            <select id="language-select">
                <option value="en-US"><p>English</p></option>
                <option value="ru-RU"><p>Russian</p></option>
                <!-- Add more language options as needed -->
            </select>
        </div>
    </header>
    <hr>
    <div class="container-fluid mt-5">
        <center><h2 style="color: white;">Popular</h2></center>
        <!-- Custom Slideshow Carousel -->
        <div class="slideshow-container">
            <!-- Slides -->
            <% movies.forEach((movie, index) => { %>
            <div class="mySlides fade <% if (index === 0) { %>active<% } %>">
                <img src="<%= movie.poster_path ? IMG_URL + movie.poster_path : 'http://via.placeholder.com/1080x1580' %>" alt="<%= movie.title %>">
                <div class="text">
                    <h3><%= movie.title %></h3>
                    <p>Description: <%= movie.overview %></p>
                    <p>Release Date: <%= movie.release_date %></p>
                </div>
            </div>
            <% }); %>
            <!-- Previous and Next buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>

    
    <!-- Display genres -->
    <div id="tags">
        <% genres.forEach(genre => { %>
            <div class="tag" id="<%= genre.id %>">
                <%= genre.name %>
            </div>
        <% }) %>
        <div class="tag" id="clear">
            Clear
        </div>
    </div>
<hr>
    <!-- Video -->
    <div id="myNav" class="overlay">
        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      
        <!-- Overlay content -->
        <div class="overlay-content" id="overlay-content"></div>
    </div>

    <div id="movies">
        <% movies.forEach(movie => { %>
            <div class="movie">
                <img src="<%= movie.poster_path ? IMG_URL + movie.poster_path : 'http://via.placeholder.com/1080x1580' %>" alt="<%= movie.title %>">
                <div class="movie-info">
                    <h3><%= movie.title %></h3>
                    <span class="<%= getColor(movie.vote_average) %>"><%= movie.vote_average %></span>
                </div>
                <div class="overview">
                    <h3>Overview</h3>
                    <%= movie.overview %>
                    <br/> 
                    <button class="know-more" id="<%= movie.id %>">Know More</button>
                </div>
            </div>
        <% }) %>
    </div>
    
    <!-- Error Messages -->
    <div id="error" class="success-message">Login failed. Maybe you are not registered, try to register!</div>
    <div id="logout" class="success-message">You logout!</div>
    <div id="logoutError" class="success-message">You are not logged in or registered!</div>
    
    <!-- Pagination -->
    <div class="pagination">
        <div class="page" id="prev">Previous Page</div>
        <div class="current" id="current"><%= currentPage %></div>
        <div class="page" id="next">Next Page</div>
    </div>

    <footer>
        <span>Created By <a href = "">Mussakhanov Nuradil, se-2207</a> | <span class="far fa-copyright"></span> 2024 Mussakhanov Nuradil se-2207.</span>
    </footer>
    <script src="/movie.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
